# AMPilot Configuration - Using OpenAI API
OPENAI_API_KEY= "XXX"
# Weaviate configuration
WEAVIATE_URL="http://localhost:8080"
WEAVIATE_COLLECTION_NAME="GRAMPA_Collection"

# Model configuration
CHAT_MODEL="gpt-4o-mini"
